.version {
  background-color: red;
}

.numInputs {
  background-color: blue;
}

.segwitMarker {
  background-color: orange;
}

.segwitFlag {
  background-color: darkorange;
}

.vinLen {
  background-color: aquamarine;
}

.prevHash {
  background-color: lavender;
}

.index {
  background-color: teal;
}

.scriptSigLen {
  background-color: lightpink;
}

.scriptSig {
  background-color: goldenrod;
}

.sequence {
  background-color: rosybrown;
}

.voutLen {
  background-color: navajowhite;
}

.value {
  background-color: burlywood;
}

.scriptPubKeyLen {
  background-color: darkkhaki;
}

.scriptPubKey {
  background-color: lightblue;
}

.programLen {
  background-color: cornflowerblue;
}

.programElementLen {
  background-color: peru;
}

.programElement {
  background-color: palegoldenrod;
}

.locktime {
  background-color: lightgray;
}
