.App {
  text-align: center;
  background-color: ghostwhite;
}

.measure {
  display: grid;
  grid-template-columns: 1.05fr 0.9fr 1.05fr;
}

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
}

.measure div:nth-child(1) {
  background-color: blue;
  height: 10px;
}

.measure div:nth-child(2) {
  background-color: red;
  height: 10px;
}

.measure div:nth-child(3) {
  background-color: green;
  height: 10px;
}
